entrypoint = "/system/index.html"
modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_11"
packages = ["static-web-server", "cope", "python310", "lsof"]

[deployment]
publicDir = "/"
deploymentTarget = "static"

[workflows]
runButton = "Serve static"

[[workflows.workflow]]
name = "Serve static"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = """echo \"GOOD NEWS!!!!! Charlies UBG Is UPPPPPPPPPPPPPPPP!!!!!!\" && static-web-server -w ./.config/static-web-server.toml > /dev/null 2>&1"""
waitForPort = 80

[[ports]]
localPort = 80
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[agent]
expertMode = true

[web_server]
route_priority = "source"
